/* 
z-index tracker:
	top banner: 10
	sticky nav: 1
	#burger-con.slide-toggle 50 (this needs to be on top of everything)
	
*/
#logo-con {
  z-index: 10;
  float: right !important;
}

#mobile-logo {
  display: inline-block;
  width: 80px;
  padding-top: 30px;
  position: fixed;
  z-index: 11;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: -2.3em;
}

#main-logo {
  display: none;
}

.header {
  width: 100vw;
  height: 150px;
  margin-top: 0;
}

.top-banner {
  width: 100vw;
  display: block;
  height: 50px;
  background-color: #414348 !important;
  padding-top: 0.5em;
  z-index: 10;
  font-size: 0.9em;
  position: fixed;
  margin-top: -1em;
  margin-left: -0.8em;
  padding-right: 1em !important;
}

.top-banner #banner1 {
  display: none;
}

.top-banner #banner2 {
  height: 50px;
  float: right;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-banner .top-login {
  display: none;
}

.top-banner .top-socials {
  width: 140px;
}

.top-banner .top-socials ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-banner .top-socials ul li {
  padding: 5px;
  list-style-type: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.top-banner .top-socials ul img {
  width: 100%;
}

#main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
}

#main-nav ul {
  list-style-type: none;
}

#main-nav li a {
  display: block;
}

.header-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
}

#main-nav button {
  z-index: 999;
  position: fixed;
  background: url(../images/burger.svg) center no-repeat;
  border: 0px;
  width: 2em;
  height: 2em;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

#main-nav button.expanded {
  margin-bottom: 1.25em;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

#burger-con {
  display: none;
}

#burger-con.slide-toggle {
  position: fixed;
  display: block;
  z-index: 9;
  width: 100%;
  height: 100vh;
  margin-left: -1em;
  padding-right: 2em;
  background-color: #414348;
  opacity: 96%;
  color: #FFFFFF;
  opacity: 1;
  -webkit-animation-name: fadeInOpacity;
          animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

#burger-con.slide-toggle a {
  color: #FFFFFF;
}

#burger-menu {
  margin-top: 3.5em;
}

#burger-menu li {
  padding-top: 0.7em;
  font-size: 1.2em;
}

#burger-menu .nav-item5 {
  padding-top: 0 !important;
}

#burger-login {
  display: inline-block;
  width: 100px;
  height: 20px;
  color: #FFFFFF;
  background-color: #ED2927;
  text-align: center;
  padding: 5px;
  margin-left: 2.6em;
  margin-top: 1em;
}

#burger-legal {
  font-size: 0.6em;
  line-height: 50%;
  margin-left: 4.3em;
  margin-top: 4em;
  color: #ED2927;
}

@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 64em) {
  /* 1024px */
  header {
    position: fixed;
    margin-left: -1em;
    margin-right: -1em;
  }
  #mobile-logo {
    display: none;
  }
  #main-logo {
    display: inline-block;
    max-width: 275px;
    width: 100%;
    z-index: 999;
    margin-top: -0.5em;
  }
  .top-banner {
    z-index: 10 !important;
  }
  .top-banner #banner1 {
    display: block;
    float: left;
    padding-left: 2.5em;
  }
  .top-banner .top-login {
    display: inline-block;
    width: 75px;
    height: 20px;
    background-color: #ED2927;
    text-align: center;
    padding: 5px;
  }
  .top-banner .top-socials {
    margin-left: 1em;
    margin-right: 1em;
    width: 180px;
  }
  .top-banner .top-socials ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .top-banner .top-socials ul li {
    padding: 0.8em;
    list-style-type: none;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .top-banner .top-socials ul img {
    width: 100%;
  }
  #button {
    display: none;
  }
  #burger-con {
    height: 150px;
    width: 90%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    padding: 5px;
    margin: 0 auto;
  }
  #burger-menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .nav-item1, .nav-item2, .nav-item3, .nav-item4, .nav-item5, .nav-item6, .nav-item7 {
    -webkit-animation-name: fadeInLeft;
            animation-name: fadeInLeft;
  }
  @-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
    }
    to {
      opacity: 1;
    }
  }
  #burger-login {
    display: none;
  }
  .nav-item4 {
    display: block !important;
  }
  #main-nav {
    height: 150px;
    background-color: #1F1F1F;
  }
  #main-nav ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style-type: none;
    font-size: 0.8em;
  }
  #main-nav li a {
    display: block;
    text-decoration: none;
    margin: 0 auto;
  }
  #main-nav a:hover {
    font-style: italic;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
  }
  #burger-legal {
    display: none;
  }
  .top-login:hover {
    height: 18px;
    width: 73px;
    background-color: transparent;
    color: #FFFFFF;
    border: 2px solid #ED2927;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
  }
}

.hero-video video {
  z-index: -1;
  margin-top: -5em;
  max-width: 100vw;
}

.modal-button {
  border: none;
  background-color: #ED2927;
  height: 30px;
  width: 150px;
  text-align: center;
  font-weight: bolder;
  padding-top: 8px;
  margin: 0 auto;
  padding-bottom: 8px;
}

#main-index {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  height: 350px;
}

#what-we-do-section {
  margin: 0 auto;
  width: 95%;
  text-align: center;
  padding-bottom: 10em;
}

#what-we-do-con {
  width: 100%;
  margin: auto 0;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 1.5em;
}

.what-we-do {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding-top: 2em;
}

.index-icon {
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  padding-bottom: 1.5em;
  z-index: -1;
}

svg:hover {
  opacity: 70%;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}

.covid-update {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  text-align: center;
}

.covid-update p {
  width: 60%;
  padding: 2em;
  margin: 0 auto;
  text-align: center;
}

.hr-covid {
  border: 5px solid #ED2927;
  width: 30%;
  margin: 0 auto;
  margin-bottom: 175px;
}

.covid-section {
  display: hidden;
}

#covid-update {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 6em;
}

#covid-update img {
  width: 300px;
  margin: 0 auto;
}

#certification {
  width: 100vw;
  padding-bottom: 5em;
}

#certification h2 {
  text-align: center;
  font-size: 2.5em;
}

#certification p {
  width: 70%;
  margin: 0 auto;
}

#certification #certification-con {
  margin: 0 auto;
}

#certification #certification-con #training {
  margin: 0 auto;
}

#certification #contacts {
  margin-top: 5em;
  margin-bottom: 5em;
}

.schedule-section {
  margin: 0 auto;
  width: 80%;
  height: 600px;
}

.schedule-area {
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
  height: 350px;
}

.hr-schedule {
  border: 5px solid #ED2927;
  width: 30%;
  margin: 0 auto;
  padding: 0;
}

#view-schedule {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF !important;
}

#the-referee-section {
  margin: 0 auto;
  width: 95%;
  text-align: center;
}

#the-referee-con {
  width: 100%;
  margin: auto 0;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 1.5em;
  padding-top: 18em;
}

#the-referee-con .the-referee {
  text-align: left;
  padding: 1em;
  margin: 1em;
}

#the-referee-con hr {
  width: 100%;
}

#link {
  color: #ED2927;
}

@media screen and (min-width: 64em) {
  /* 1024px */
  #main-index {
    margin: 0 auto;
    width: 70%;
    text-align: center;
    height: 150px;
  }
  .hero-video video {
    z-index: -50;
    margin-top: 150px !important;
    max-width: 100vw;
  }
  .covid-section {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 650px;
  }
  .covid-update {
    width: 70%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .covid-update p {
    margin: 0 auto;
  }
  .covid-update h2 {
    margin: 0 auto;
  }
  #covid-update {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 50%;
    padding-top: 3em;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #covid-update .covid-img:hover {
    cursor: pointer;
    opacity: 60%;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
  }
  #what-we-do-section {
    margin: 0 auto;
    width: 80%;
  }
  #what-we-do-section p {
    padding-bottom: 2em;
  }
  #what-we-do-con {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
  }
  .the-referee-section {
    margin: 0 auto;
    width: 80%;
  }
  #the-referee-con {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    width: 80%;
    padding-top: 11em;
  }
  .the-referee {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #certification {
    margin: 0 auto;
  }
  #certification h2 {
    font-size: 3em;
  }
  #certification p {
    font-size: 1.3em;
  }
  #link:hover {
    font-style: italic;
    cursor: pointer;
  }
  .modal-button:hover {
    border: none;
    height: 28px;
    width: 148px;
    background-color: transparent;
    color: #ED2927 !important;
    border: 2px solid #ED2927;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    cursor: pointer;
  }
}

footer {
  height: 525px;
  background-color: #414348;
}

#footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
  color: #FFFFFF;
  font-weight: bold;
  -ms-flex-line-pack: center;
      align-content: center;
}

#footer #footer-logo {
  margin: 1em;
}

#footer li {
  padding: 0.5em;
}

#footer ul {
  list-style-type: none;
}

#footer #footer-logo {
  height: 25%;
  padding-top: 50px;
}

#footer #footer-nav, #footer #footer-info, #footer #copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 64em) {
  /* 1024px */
  footer {
    height: 325px;
  }
  #footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    color: #FFFFFF;
    font-weight: bold;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  #footer a:hover {
    font-style: italic;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
  }
  #footer li {
    padding: 1em;
  }
  #footer #footer-logo {
    max-width: 200px;
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */