.top-banner {
	display: block;
	height: 50px;
	background-color: $dark-grey!important;
	margin: -0.5em;
	#banner1 {
		float: left;
	}
	#banner2 {
		float: right;
	}
	p {
		margin: 1em;
	}
}

#main-nav { // mobile first burger menu!
	width: 100vw;
	background-color: $black;
	height: 50px;
	display: flex;
	flex-direction: column;
	color: $white;
}

#main-nav ul {
	list-style-type: none;
	text-align: center;
}

#main-nav li a { // this is where we style what's inside our mobile burger menu!
	display: block;
	margin: 0 auto;
	text-align: center;
} 

#main-nav button {
	//stylingtheburgermenubuttonmargin: 0 auto;
	background: url(../images/burger.svg) center no-repeat;
	border: 0px;
	width: 1.25em;
	height: 1.25em;
	margin: 0 auto;
	padding-top: 4.5em;
	transition: $smooth;
	-webkit-transition: $smooth;
	-moz-transition: $smooth;
	-ms-transition: $smooth;
	-o-transition: $smooth;
}

#main-nav button.expanded { // fun burger menu animation/transition when pressed
	margin-bottom: 1.25em;
	transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

#burger-con { // burger container
	display: none; // hides the menu initially until clicked
}

#burger-con.slide-toggle { 
	display: block; // this is what makes the menu appear upon click
	text-align: center;
	background-color: $dark-grey;
	opacity: 98%;
	z-index: 50;
}

#burger-menu {
	padding: 0;
	li {
		padding: 1em;
	}
	.nav-item4 {
		display: none;
	}
	#burger-legal {
		display: inline-block;
		font-size: 0.7em;
	} 
}

#main-logo { // hides main logo in burger menu, allows main logo to be in the center of nav on desktop
	display: none;
}

#mobile-logo {
	// displays mobile logo right now without having to be nested in nav and seen only in burger menu
	display: block;
}

@media screen and (min-width: 64em) { /* 1024px */
	
	
	#mobile-logo { // out with the mobile logo
		display: none;
	}

	#main-logo {
		display: inline-block; // in with the desktop logo
		max-width: 382px;
		width: 50%;
		padding-top: 30px;
	}

    #button {
    	display: none;
    }

    #burger-con {
		width: 90%;
		display: inline-flex;
		flex-direction: row;
		justify-content: center;
		margin: 0 auto;
		padding: 5px;
	}

	#burger-menu {
		align-items: center;
		height: 105px;
		align-content: center;
	}

	#main-logo {
		max-width: 382px;
		width: 100%;
	}

	.nav-item4 {
		display: block!important;
	}

	#main-nav {
		height: 150px;
		background-color: $black;
	}
	
    #main-nav ul {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		list-style-type: none;
    }
    
    #main-nav li a {
		display: block;
    	text-decoration: none;
		margin: 0 auto;
    }

    #main-nav a:hover {
		font-style: oblique;
		font-weight: bolder;
		cursor: pointer;
    }

	#burger-legal {
		display: none;
	}

}
