#top-banner {
	width: 100vw;
	max-width: 1920px;
	height: 80px;
	background-color: green;
	#banner1 {
		float: left;
	}
	#banner2 {
		float: right;
	}
}

#main-nav { // mobile first burger menu!
	display: flex;
	flex-direction: column;
}

#main-nav ul {
	list-style-type: none;
	text-align: center;
}

#main-nav li a { // this is where we style what's inside our mobile burger menu!
	display: block;
} 

#main-nav button { // styling the burger menu button
    margin: 0 auto;
	background: url(../images/burger.svg) center no-repeat;
	border: 0px;
	width: 1.25em;
	height: 1.25em;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

#main-nav button.expanded {  // fun burger menu animation/transition when pressed
	margin-bottom: 1.25em;
	transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

#burger-con { // burger container
	display: none; // hides the menu initially until clicked

}

#burger-con.slide-toggle { 
	display: block; // this is what makes the menu appear upon click
	text-align: center;
}

.nav-item4 { // main logo
	order: 1 !important;
}

#main-logo {
	display: inline-block;
	width: 382px;
	height: 382px;
	border-radius: 100%;
	background-color: orange;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
}

@media screen and (min-width: 64em) { /* 1024px */
	


    #button {
    	display: none;
    }

    #burger-con {
		width: 90%;
		display: inline-flex;
		flex-direction: row;
		justify-content: center;
		margin: 0 auto;
		padding: 5px;
	}
	

    #main-nav ul {
		width: 80%;
		display: inline-flex;
		flex-direction: row;
		justify-content: space-evenly;
		list-style-type: none;
    }
    
    #main-nav li a {
		display: inline-block;
    	text-decoration: none;
		color: #333;
		padding-left: 1em;
    }

    #main-nav a:hover {
		font-style: italic;
		cursor: pointer;
    }


}
