
/* 
z-index tracker:
	top banner: 10
	sticky nav: 1
	#burger-con.slide-toggle 50 (this needs to be on top of everything)
	
*/

#logo-con {
	z-index: 10;
	float: right !important;
}

#mobile-logo {
	display: inline-block; // in with the desktop logo
	width:80px;
	padding-top: 30px;
	position: fixed;
	z-index: 11;
	align-self: center;
	margin-top: -2.3em;
} 

#main-logo {
	display: none;
}

.header {
	width: 100vw;
	height: 150px;
	margin-top: 0;
}

.top-banner {
	width: 100vw;
	display: block;
	height: 50px;
	background-color: $dark-grey!important;
	padding-top: 0.5em;
	z-index: 10;
	font-size: 0.9em;
	position: fixed;
	margin-top: -1em;
	margin-left: -0.8em;
	padding-right: 1em!important;
	#banner1 {
		display: none;
	}
	#banner2 {
		height: 50px;
		float: right;
		display: inline-flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.top-login {
		display: none;
	}
	.top-socials {
		width:140px;
		ul {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			li {
				padding: 5px;
				list-style-type: none;
				align-self: center;
			}
			img {
				width: 100%;
			}
		}
	}
}



#main-nav { // mobile first burger menu!
	display: flex;
	flex-direction: column;
	z-index: 10;
}

#main-nav ul {
	list-style-type: none;
}

#main-nav li a { // this is where we style what's inside our mobile burger menu!
	display: block;
} 

.header-con {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100vw;
}

#main-nav button { // styling the burger menu button
	z-index: 999; 
	position: fixed;
   // margin: 0 auto;
	background: url(../images/burger.svg) center no-repeat;
	border: 0px;
	width: 2em;
	height: 2em;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

#main-nav button.expanded {  // fun burger menu animation/transition when pressed
	margin-bottom: 1.25em;
	transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

#burger-con { // burger container
	display: none; // hides the menu initially until clicked
}

#burger-con.slide-toggle {
	position: fixed;
	display: block;
	//thisiswhatmakesthemenuappearuponclicktext-align: left;
	z-index: 9; 
	width: 100%;
	height: 100vh;
	margin-left: -1em;
	padding-right: 2em;
	background-color:$dark-grey;
	opacity: 96%;
	color: $white;
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
	a {
		color: $white;
	}
}

#burger-menu {
	margin-top: 3.5em;
	li {
		padding-top: 0.7em;
		font-size: 1.2em;
	}
	.nav-item5 {
		padding-top: 0!important;
	}
}

#burger-login {
	display: inline-block;
	width: 100px;
	height: 20px;
	color: $white;
	background-color: $orange;
	text-align: center;
	padding: 5px;
	margin-left: 2.6em;
	margin-top: 1em;
}

#burger-legal {
	font-size: 0.6em;
	line-height: 50%;
	margin-left: 4.3em;
	margin-top: 4em;
	color: $orange;
}



@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


@media screen and (min-width: 64em) { /* 1024px */

	
	header {
		position: fixed;
		margin-left: -1em;
		margin-right: -1em;
	}

	#mobile-logo { // out with the mobile logo
		display: none;
	}

	#main-logo {
		display: inline-block;// in with the desktop logo
		max-width: 275px;
		width: 100%;
		z-index: 999;
		margin-top: -0.5em;
	}

	.top-banner {
		z-index: 10!important;
		#banner1 {
			display: block;
			float: left;
			padding-left: 2.5em;
		}
		.top-login {
			display: inline-block;
			width: 75px;
			height:20px;
			background-color: $orange;
			text-align: center;
			padding: 5px;
		}
		.top-socials {
			margin-left: 1em;
			margin-right: 1em;
			width: 180px;
			ul {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				li {
					padding: 0.8em;
					list-style-type: none;
					align-self: center;
				}
				img {
					width: 100%;
				}
			}
		}
	}



    #button {
    	display: none;
    }

    #burger-con {
		height: 150px;
		width: 90%;
		display: inline-flex;
		flex-direction: row;
		justify-content: center;
		margin: 0 auto;
		padding: 5px;
		margin: 0 auto;
	}

	#burger-menu {
		align-items: center;
		align-content: center;
	}

	.nav-item1, .nav-item2, .nav-item3, .nav-item4, .nav-item5, .nav-item6, .nav-item7 {
		animation-name: fadeInLeft
	}

	@keyframes fadeInLeft {
		from {
			opacity: 0;
			transform: translateX(-100%);
			-webkit-transform: translateX(-100%);
			-moz-transform: translateX(-100%);
			-ms-transform: translateX(-100%);
			-o-transform: translateX(-100%);
		}
		to { opacity: 1 }
	}

	#burger-login {
		display: none;
	}



	.nav-item4 {
		display: block!important;
	}

	#main-nav {
		height: 150px;
		background-color: $black;
	}
	
    #main-nav ul {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		list-style-type: none;
		font-size: 0.8em;
    }
    
    #main-nav li a {
		display: block;
    	text-decoration: none;
		margin: 0 auto;
    }

    #main-nav a:hover {
		font-style: italic;
		//text-transform: lowercase;
		cursor: pointer;
		transition: 0.3s ease-in-out;
		-webkit-transition: 0.3s ease-in-out;
		-moz-transition: 0.3s ease-in-out;
		-ms-transition: 0.3s ease-in-out;
		-o-transition: 0.3s ease-in-out;
	}

	#burger-legal {
		display: none;
	}

	.top-login:hover {
		height: 18px;
        width: 73px;
        background-color: transparent;
        color: $white;
        border: 2px solid $orange;
        transition: 0.2s ease-in-out;
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -ms-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
}
}
