// colours

$white: #FFFFFF;
$orange: #df521f;
$black: #1F1F1F;
$dark-grey: #414348;
$light-grey: #B4B4B4;

// fonts

$body: Helvetica, arial, sans-serif;

// transitions

$smooth: all 0.2s ease-in-out;