// colours

$white: #FFFFFF;
$orange: #df521f;
$black: #1F1F1F;
$dark-grey: #414348;
$light-grey: #B4B4B4;

// fonts

$body: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

// transitions

$smooth: all 0.1s ease-in-out;